@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: none;
    background-image: url(imgs/mainbg.png);
    background-position: center;
    background-color: black;
    background-attachment: fixed;
    overflow: hidden;
}
.page1{
    height: 100%;
    width: 100%;

}
.topbar{

    width: 100%;
    height: 5vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: whitesmoke solid 2px;

}

.topbar a{
    float: right;
    display: block;
    color: skyblue;
    background-color: black;
    height: 100%;
    text-align: center;
    padding: 0 3% 0 3%;
    font-family: VT323;
    font-weight: 600;
    font-size: 24px;
}
.topbar a:hover {
    background: whitesmoke;
    color: black;
}
.topbar a:link { text-decoration: none; }
.topbar a:visited { text-decoration: none; }
.topbar a:hover { text-decoration: none; }
.topbar a:active { text-decoration: none; }

.anim-text {
  color: white;
  font-size: 82px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: VT323;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.text-container {
  display: inline-block;
  text-align: center;
}
.links{
    display: inline-block;
    position:fixed;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin: auto;
    height: 0;
    width: 500px;
    z-index: -1;
    margin-left: 42%;
}

.links a img{
  max-width: 35px;
  padding-right: 80px;
}

.login-form-wrap {
  background-color: #282a36;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000000;
  text-align: center;
  margin-top: 20%;
}

.login-form-wrap h1 {
  color: #8be9fd;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: grid;
  gap: 20px;
}

.login-form input[type="text"], 
.login-form input[type="password"], 
.login-form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #44475a;
  color: #f8f8f2;
  outline: none;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder, 
.login-form input[type="email"]::placeholder {
  color: #6272a4;
}

.login-form input[type="submit"] {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8be9fd;
  color: #282a36;
  font-size: 18px;
  transition: background-color 0.5s;
}

.login-form input[type="submit"]:hover {
  background-color: #50fa7b;
}

.login-form-wrap h5 {
  margin-top: 10px;
}

.login-form-wrap h5 a {
  color: #8be9fd;
  text-decoration: none;
}

.login-form-wrap h5 a:hover {
  color: #50fa7b;
}
